body {
	background-color: #b2b9bf;
}

h1, p, .initial, .internalhead {
	color: #343538;
}

h1 {
	font-family: monospace;
	font-size: 30px;
}

p, .initial {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

.content {
	background-color: #cccccc;
}

.bordercircle {
	border-radius: 5px;
}

.light {
	background-color: #ddd;
}

.lighter {
	background-color: #e6e6e6;
}

.halfw {
	width: 50%;
}

.marginfull {
	padding: 10px;
}

.marginhalf {
	padding: 2px;
}

.margintwohalves {
	padding: 3px;
}

.centered {
	display: flex;
	justify-content: center;
}

.initial {
	font-weight: bold;
	border: 0px;
	width: 70px;
	margin-right: 0px;
}

.internalhead {
	text-align: center;
	font-size: 18px;
	font-family: monospace;
}

.initr {
	width: 100px;
	margin-left: 3px;
}